<div class='container-fluid'>  
    <br/><br/><br/>
    <h3 style="text-align: center;">carousel Sample</h3>  
    <div style="width: 100%;">
    <div class='col-11' style="padding-left: 80px;">  
        <ngb-carousel >  
            <ng-template ngbSlide>  
                <img src="./assets/1.jpg" alt="Cat1" style="height:450px; width: 1200px;">  
                <div class="carousel-caption">  
                    <h3 style="color: blue">cat1</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="./assets/2.jpg" alt="Cat2" style="height:450px; width: 1200px;">  
                <div class="carousel-caption">  
                    <h3 style="color: blue">cat2</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="./assets/3.jpg" alt="Cat3" style="height:450px; width: 1200px;">   
                <div class="carousel-caption">  
                    <h3 style="color: blue">cat3</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="./assets/4.jpg" alt="Cat4" style="height:450px; width: 1200px;">  
                <div class="carousel-caption">  
                    <h3 style="color: blue">cat4</h3>  
                </div>  
            </ng-template>  
            
    
        </ngb-carousel>  
    </div>
</div>  
  
</div>  