<br/><br/><br/>
<h3 style="text-align: center;">Accordion bootstrap sample</h3>
<br/>
<ngb-accordion>
	<ngb-panel title="Tamil Nadu Covid19 news and other">
		<ng-template ngbPanelContent>
			<p style="text-align: justify;"> Tamil Nadu Coronavirus Updates: In a major development, the Tamil Nadu government on Wednesday banned all activities of Friends of Police (FoP) in the aftermath of the Thoothukudi custodial deaths case. In an order, the government said it was done after an adverse report was received from the Director General of Police, Chennai.
                <br/><br/>
                The investigation into the custodial deaths last month of a father and son in Thoothukudi brought under the scanner a 27-year-old community policing initiative in the state, Friends of Police (FOP), with demands to dismantle the system that is “widely misused”, especially in small towns and rural areas.
                <br/><br/>
                The probe by the state’s Crime Branch-CID into the deaths of shopkeeper P Jeyaraj and his son J Bennix in Sathankulam police station on the night of June 19 had zeroed in on the alleged role of six FOP members who had been “helping the Inspector and Sub-Inspectors in routine affairs”.
                <br/><br/>
                Meanwhile, with 3,616 new COVID-19 cases reported on Tuesday, the total number of cases in the state has now surged to 1,18,594. In Chennai, a total of 1,203 cases were recorded. So far, the city has reported 71,230 cases.</p>
                <span><b>Source: </b><a target="_blank" href="https://www.business-standard.com/article/current-affairs/latest-news-today-live-updates-7-july-2020-120070800125_1.html">Business Standard</a></span>
		</ng-template>
	</ngb-panel>
	<ngb-panel title="The Chinese military removed temporary infrastructure in eastern Ladakh">
		<ng-template ngbPanelContent>
            The Chinese military removed temporary infrastructure and continued gradual withdrawal of troops from face-off sites in Hot Springs and Gogra in eastern Ladakh for a second consecutive day on Tuesday. 
            <br/><br/>The Indian Army, meanwhile, was keeping a strict vigil on its rearward movement. The disengagement process, which began on Monday, is expected to be completed by today.
           <br/> <span><b>Source: </b> <a href="https://www.business-standard.com/article/current-affairs/latest-news-today-live-updates-7-july-2020-120070800125_1.html">Business Standard</a></span>
		</ng-template>
	</ngb-panel>
	<ngb-panel title="Trump administration has formally notified to withdraw fo country in WHO">
		<ng-template ngbPanelContent>
            <p>In the US, the Donald Trump administration had formally notified the United Nations of its decision to withdraw the country from the World Health Organization, officials said, breaking off ties with the global health body amid the expanding coronavirus pandemic.</p>
            <span><b>Source: </b><a href="https://www.business-standard.com/article/current-affairs/latest-news-today-live-updates-7-july-2020-120070800125_1.html">Business Standard</a></span>
        </ng-template>
    </ngb-panel>
    <ngb-panel title="Weather India">
		<ng-template ngbPanelContent>
            <p>     The India Meteorological Department (IMD) Wednesday said fairly widespread to widespread rain along with thundershowers is likely over Northeast and adjoining East India due to the positioning of the monsoon trough over the foothills of the Himalayas.
                
                    Subdued rain activity has been predicted for Central India and remaining parts of North India, while peninsular India might receive isolated to scattered rain.
                    <br/><br/>
                    The weather agency said maximum temperatures are highly likely to fall by 2-4 degree Celsius over plains of northwest India during the next 48 hours. However, no significant change in temperatures is likely over most parts of the country over the next 3-4 days.<br/>
            </p>
            <span><b>Source: </b><a href="https://indianexpress.com/article/weather/weather-forecast-today-southwest-monsoon-delhi-mumbai-ahmedabad-6495307/">Indian Express</a></span>
        </ng-template>
	</ngb-panel>
</ngb-accordion>
<br/><br/><br/><br/>



