<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: skyblue;">
    <div class="container">
      <a class="navbar-brand" routerLink="">Demo Site ng chart</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink=""><b></b>
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="bar"><b>Bar-chart</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="bubble"><b>Bubble-chart</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="line"><b>Line-chart</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="pie"><b>Pie-chart</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="doughnut"><b>Doughnut-chart</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="radar"><b>Radar-chart</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="scatter"><b>Scatter-chart</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="polar"><b>PolarArea-chart</b></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

 